/* GENERAL STYLES */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  /* fonts that you want to apply in your body*/
}
h1, h2, h3, h4, h5, h6 {
  /*fonts that I want for my headings*/
  /*font styles I want for my headings*/
}
a{
  /*remove underline*/
  /*change colour*/
}
a:hover{
  /*styles for links on hover*/
}

/*Header Styles*/
header {
  /*background styles*/
  /*apply padding or margin*/
}
nav {
  /*styles for the nav*/
  /*background colour*/
  /*center or align text*/
}
nav a {
  /*styles for links inside my nav*/
}
/*FIRST SECTION STYLES*/
.about /*this calls the class of about the dot comes before the class name*/

/*STYLES FOR FOOTER*/
form{

}
input{

}
button{
  
}
